.tab {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.tab + div {
  border-top: none !important;
  /* prevent the next tab from having border top incase there was more than one tap stacked over each other */
}

.tab h3 {
  position: relative;
  padding: 15px 0;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tab h3::after {
  content: "";
  position: absolute;
  right: 5px;
  width: 14px;
  height: 1.5px;
  background-color: #212121;
}

.tab h3::before {
  content: "";
  position: absolute;
  right: 5px;
  width: 14px;
  height: 1.5px;
  background-color: #212121;
  transform: rotate(-90deg);
  transition: transform 0.4s ease;
}

@media (max-width: 767px) {
  .tab h3::after {
    height: 2px;
  }

  .tab h3::before {
    height: 2px;
  }
}

.tab.expanded h3::before {
  transform: rotate(0);
}

.tab .content_wrapper {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}

.tab.expanded .content_wrapper {
  max-height: 1500px;
  transition: max-height 1s ease-in;
}

.tab .content_inner {
  padding-bottom: 20px;
}
