.tab {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.tab + div {
  border-top: none !important;
  /* prevent the next tab from having border top incase there was more than one tap stacked over each other */
}

.tab h3 {
  position: relative;
  padding: 15px 0;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.tab h3 span {
  display: flex;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.tab.expanded h3 span {
  transform: translateY(-50%) rotateX(180deg);
  transform-origin: center;
}

.tab .content_wrapper {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1s cubic-bezier(0, 1, 0, 1);
}

.tab.expanded .content_wrapper {
  max-height: 1500px;
  transition: max-height 1s ease-in-out;
}

.tab .content_inner {
  padding-bottom: 20px;
}
