.height_holder {
  height: calc(
    100vh - var(--header-height) - var(--page-header-height) -
      var(--top-slider-height)
  );
  min-height: 600px;
}

.account_details_wrapper {
  margin: 25px 25px 0;
}

.account_details_wrapper .cart_and_orders {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.account_details_wrapper .cart_and_orders > div {
  height: 300px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  background-color: #fafafa;
}

.account_details_wrapper .cart_and_orders p {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

.account_details_wrapper .cart_and_orders .link_wrapper {
  width: 200px;
}

@media (max-width: 767px) {
  .account_details_wrapper .cart_and_orders {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 567px) {
  .account_details_wrapper {
    margin: 16px 16px 0;
  }

  .account_details_wrapper .cart_and_orders > div {
    height: 200px;
  }
}
