.image_modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: #fff;
}

.image_modal header {
  position: relative;
  height: var(--header-height);
  text-align: center;
  line-height: var(--header-height);
  border-bottom: 1px solid #eee;
}

.image_modal header span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: var(--header-height);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #eee;
  cursor: pointer;
}

.image_modal .images_wrapper {
  height: calc(100vh - var(--header-height));
  overflow-y: scroll;
  padding: 0 30px 30px;
  display: flex;
  flex-direction: column;
}

.image_modal .images_wrapper .image_wrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.image_modal .images_wrapper img {
  width: 100%;
  /* max-width: 600px; */
  max-height: calc(100vh - var(--header-height) - 45px);
  object-fit: contain;
}

@media (max-width: 767px) {
  .image_modal header h2 {
    font-size: 20px;
    font-weight: 600;
  }
}

@media (max-width: 567px) {
  .image_modal .images_wrapper {
    padding: 0;
  }

  .image_modal .images_wrapper .image_wrapper {
    margin-top: 15px;
  }
}
