.footer {
  background-color: #212121;
  color: #fff;
  padding: 64px 0 40px;
}

.footer .footer_inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 20px;
  max-width: 1440px;
  margin: auto;
  padding: 0 24px 64px;
}

.footer .footer_section h3 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.footer .footer_section ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer .footer_section ul a {
  margin-left: 5px;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
}

.footer .footer_section > p {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.7;
  max-width: 350px;
  margin-bottom: 20px;
}

.footer .footer_copyright {
  border-top: 1px solid #424242;
  margin: 0 16px;
}

.footer .footer_copyright p {
  font-size: 0.7rem;
  text-align: left;
  padding: 24px 24px 0;
  line-height: 21px;
  margin: 0;
  color: #e0e0e0;
}

@media (min-width: 992px) {
  .footer .footer_section a:hover {
    color: #707070;
  }
}

@media (max-width: 991.98px) {
  .footer {
    padding: 0;
  }

  .footer .footer_inner {
    grid-template-columns: 1fr;
    row-gap: 0;
    padding: 0 16px 40px;
  }

  .footer .footer_section.mobile_tab {
    border-bottom: 1px solid #424242;
  }

  .footer .footer_section h3 {
    position: relative;
    padding: 24px 0;
    color: #fff;
    margin-bottom: 0px;
    cursor: pointer;
  }

  .footer .footer_section.mobile_tab h3::after {
    content: "";
    position: absolute;
    right: 5px;
    width: 11px;
    height: 1.5px;
    background-color: #fff;
  }

  .footer .footer_section.mobile_tab h3::before {
    content: "";
    position: absolute;
    right: 5px;
    width: 11px;
    height: 1.5px;
    background-color: #fff;
    transform: rotate(-90deg);
    transition: transform 0.5s ease;
  }

  .footer .footer_section.mobile_tab.is_expanded h3::before {
    transform: rotate(0);
  }

  .footer .footer_section ul {
    padding-bottom: 24px;
  }

  .footer .footer_section .section_collapse {
    overflow: hidden;
    max-height: 0;
    transition: all 1.2s cubic-bezier(0, 1, 0, 1);
  }

  .footer .footer_section.is_expanded .section_collapse {
    max-height: 1500px;
    transition: all 1.2s ease-in-out;
  }

  .footer .footer_copyright p {
    padding: 16px 0;
  }
}
