.news_form {
  display: flex;
  flex-direction: column;
}

.news_form input {
  padding: 10px 10px;
  max-width: 350px;
  border: 2px solid #dbe4df;
  border-radius: 2px;
  font-weight: 500;
  outline: none;
}

.news_form .notification_wrapper {
  height: 22px;
  line-height: 22px;
}

.news_form .notification_wrapper p {
  font-size: 14px;
}

.news_form .button_wrapper {
  width: 180px;
}

.news_form .button_wrapper button {
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  font-family: "Petrona", serif;
  height: 38px;
}
