.navigation_menu {
  background: #e0e0e0;
}

.navigation_menu header {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 24px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.navigation_menu header a {
  display: flex;
  width: 120px;
}

.navigation_menu ul a,
.navigation_menu ul .logout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
  padding: 10px 24px;
  color: #212121;
  font-size: 14px;
  font-weight: 600;
}

.navigation_menu ul.product_links a {
  padding: 14px 24px;
}

.navigation_menu ul a i,
.navigation_menu ul .logout i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}

.navigation_menu ul.product_links {
  background: #f5f5f5;
  text-transform: uppercase;
  padding: 10px 0;
}

.navigation_menu ul:not(.product_links) {
  padding-top: 10px;
}
