.assistance {
  padding: 30px 22px;
  max-width: 500px;
  margin: auto;
}

.assistance.center {
  text-align: center;
}

.assistance h4 {
  font-size: 14px;
  margin-bottom: 14px;
}

.assistance p {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-size: 13px;
  margin-bottom: 10px;
}

.assistance p a {
  font-family: "Poppins", sans-serif;
  text-decoration: underline;
}

@media (max-width: 991px) {
  .assistance {
    text-align: center;
  }
}

@media (max-width: 567px) {
  .assistance {
    padding: 30px 0;
  }
}
