.page_wrapper {
  height: calc(100vh - 500px);
  min-height: 500px;
  background-color: #f5f5f5;
  padding: 0 24px;
}

.page_wrapper .page_inner {
  max-width: 500px;
  margin: auto;
}

.page_wrapper h2 {
  font-size: 22px;
  padding: 70px 0 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.page_wrapper .welcome {
  margin-bottom: 30px;
  font-size: 14px;
  color: #212121;
  text-align: center;
}

.page_wrapper .welcome span {
  position: relative;
  margin-left: 19px;
  text-decoration: underline;
  text-underline-position: under;
  color: #212121;
  transition: color 0.3s linear;
  cursor: pointer;
}

.page_wrapper .welcome span::before {
  content: "";
  height: 81%;
  position: absolute;
  left: -12px;
  top: 20%;
  width: 1px;
  background: #000;
}

.page_wrapper p {
  font-size: 16px;
  margin-bottom: 25px;
  text-align: center;
}

.page_wrapper a {
  display: block;
  width: 220px;
  padding: 13px;
  margin: auto;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  border: 1px solid #212121;
  color: #212121;
  transition: all 0.4s ease;
}

.page_wrapper a:hover {
  background-color: #272727;
  color: #fff;
}

.loading {
  padding: 80px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 991.98px) {
  .page_wrapper {
    padding: 0 16px;
    height: calc(100vh - 545px);
  }
}

@media (max-width: 575.98px) {
  .page_wrapper h2 {
    font-size: 20px;
    padding-top: 30px;
  }

  .page_wrapper .welcome {
    margin-bottom: 20px;
  }

  .page_wrapper p {
    font-size: 15px;
    margin-bottom: 20px;
  }

  .page_wrapper a {
    font-size: 15px;
    width: 200px;
    font-weight: 500;
    border-radius: 4px;
  }
}
