.page_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: hsla(0, 0%, 96.1%, 0.98);
  animation: opacity_up 0.4s ease forwards;
}

.page_wrapper .page_header {
  position: relative;
}

.page_wrapper .page_header h2 {
  padding: 50px 0 10px;
  margin-bottom: 25px;
  font-size: 24px;
  text-align: center;
  font-weight: 400;
}

.page_wrapper .page_header button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 80px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #242424;
  background: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.page_wrapper .page_inner {
  max-width: 500px;
  margin: auto;
}

.page_wrapper .page_inner > p {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 10px;
  padding: 0 16px;
  font-family: "Poppins", sans-serif;
}

.page_wrapper form {
  max-width: 500px;
  padding: 0 16px;
}

.page_wrapper form .form_control {
  display: flex;
  flex-direction: column;
}

.page_wrapper form .form_control label {
  font-weight: 500;
  margin-bottom: 10px;
}

.page_wrapper form .form_control input {
  padding: 12px 10px;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 2px;
  outline: none;
  font-weight: 500;
  transition: all 0.4s ease;
}

.page_wrapper form .form_control input:focus {
  border-color: #20526d;
}

.page_wrapper form .form_control.has_error input {
  border-color: var(--error-color);
}

.page_wrapper form .notification_wrapper {
  height: 16px;
  line-height: 16px;
  font-size: 15px;
  margin: 4px 0;
  font-weight: 400;
}

.page_wrapper form .buttons_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.page_wrapper form .buttons_wrapper button {
  width: 100%;
  color: #fff;
  height: 42px;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400 !important;
}

.page_wrapper form .buttons_wrapper .cancel_button button {
  background-color: rgba(0, 0, 0, 0);
  color: #000;
  border: 1px solid #000;
}

.page_wrapper form .buttons_wrapper .submit_button button {
  border: 1px solid #1b1b1b;
}

.page_wrapper .success {
  padding: 0 16px;
}

.page_wrapper .success h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.page_wrapper .success p {
  font-size: 13.5px;
  line-height: 1.7;
  margin-bottom: 17px;
  font-family: "Poppins", sans-serif;
}

.page_wrapper .success a {
  display: block;
  text-align: center;
  padding: 13px;
  width: 180px;
  border: 1px solid #1b1b1b;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.page_wrapper .success a:hover {
  background-color: #1b1b1b;
  color: rgb(216, 216, 216);
}

@media (max-width: 991.98px) {
  .page_wrapper .page_header h2 {
    padding: 18px 10px;
    font-size: 20px;
    background-color: #fff;
  }

  .page_wrapper .page_header button {
    right: 20px;
  }
}

@media (max-width: 575.98px) {
  .page_wrapper .success a {
    width: 100%;
  }
}

@media (max-width: 300px) {
  .page_wrapper .page_header h2 {
    padding: 17px 5px;
  }

  .page_wrapper .page_header button {
    width: 30px;
    height: 30px;
    right: 10px;
  }

  .page_wrapper form .buttons_wrapper button {
    font-size: 12px;
  }
}

@keyframes opacity_up {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
