.hero_wrapper {
  position: relative;
  margin: 0 auto;
}

.image_slider_container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image_slider_container .slide {
  display: flex;
  position: relative;
  height: 1012px;
  min-height: 600px;
  overflow: hidden;
}

.image_slider_container .slide a {
  display: block;
  width: 100%;
  height: 100%;
}

.image_slider_container .slide a:focus {
  outline: none;
}

.image_slider_container .slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}

.navigation_slider_wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  pointer-events: none;
}

.navigation_slider_wrapper .navigation_slider_container {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 20px;
  z-index: 5;
  pointer-events: all;
}

.navigation_slider_container .slide {
  display: flex !important;
  flex-direction: column;
}

.navigation_slider_container .slide.active {
  z-index: 5;
}

.navigation_slider_container .slide .slide_content {
  margin-left: 10px;
  margin-bottom: 15px;
  padding: 24px;
  width: fit-content;
}

.navigation_slider_container .slide .slide_content h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 10px;
}

.navigation_slider_container .slide .progress_bar_wrapper {
  width: 100%;
  height: 4px;
  margin: 0;
  background-color: rgba(33, 33, 33, 0.2);
}

.navigation_slider_container .slide .progress_bar {
  height: 100%;
  background-color: #fff;
  width: 70%;
}

.navigation_slider_container .slide .slide_controls {
  width: 100%;
  height: 40px;
  background-color: hsla(0, 0%, 100%, 0.2);
  backdrop-filter: blur(40px);
}

@media (max-width: 1600px) {
  .image_slider_container .slide {
    height: 800px;
  }
}

@media (max-width: 1400px) {
  .image_slider_container .slide {
    height: calc(100vw - 500px);
  }
}

@media (max-width: 1280px) {
  .hero_wrapper {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .navigation_slider_container .slide {
    align-items: center;
  }

  .navigation_slider_container .slide .slide_content {
    margin-left: 0;
    margin-bottom: 10px;
    padding: 16px;
    text-align: center;
  }

  .navigation_slider_container .slide .slide_content h3 {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .image_slider_container .slide {
    height: 100vh;
  }
}
