.products_filters_wrapper {
  position: sticky;
  top: calc(var(--header-height) + var(--top-slider-height) + 60px);
  bottom: 0;
  width: 100%;
  max-width: 0;
  height: calc(100vh - (var(--header-height) + 60px));
  overflow: overlay;
  background-color: #fff;
  transition: max-width 0.3s ease, transform 0.5s ease;
}

.products_filters_wrapper::-webkit-scrollbar {
  width: 4px;
}

.products_filters_wrapper::-webkit-scrollbar-thumb {
  background-color: #eeeeee;
}

.products_filters_wrapper.is_expanded {
  max-width: 348px;
  border-right: 1px solid #bdbdbd;
}

.products_filters_wrapper .filters_header {
  position: sticky;
  top: 0;
  height: 70px;
  line-height: 70px;
  padding: 0 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #f5f5f5;
  background-color: #fff;
  z-index: 1;
}

.products_filters_wrapper .filters_header span {
  font-weight: 500;
  text-decoration: underline;
  font-size: 14px;
  padding: 10px 10px 10px 0;
}

.products_filters_wrapper .filters_header button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
}

.products_filters_wrapper .products_filters_inner {
  width: 347px;
  height: 100%;
  padding: 24px;
  transform: translateX(-348px);
  transition: transform 0.3s ease;
}

.products_filters_wrapper.is_expanded .products_filters_inner {
  transform: translate(0);
}

.products_filters_inner .filters_section {
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-bottom: 1px solid #f5f5f5;
}

.products_filters_inner .filters_section:last-of-type {
  border: none;
}

.filters_section h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.filters_section .colors_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 30px;
}

.filters_section .colors_list li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.filters_section .colors_list li span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 3px #212121;
}

.filters_section .colors_list li.selected span {
  outline: 1px solid #212121;
  outline-offset: 2.5px;
}

.filters_section .slider_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 350px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.filters_section .slider_wrapper .range_titles {
  position: absolute;
  top: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #5a5a5a;
}

.filters_section .slider_wrapper span {
  font-family: "Petrona", serif !important;
}

.filters_section .sizes_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  column-gap: 10px;
  row-gap: 15px;
  justify-content: space-between;
}

.filters_section .sizes_list li {
  height: 50px;
  text-align: center;
  line-height: 50px;
  background-color: #eee;
  font-family: "Petrona", serif;
  cursor: pointer;
}

.filters_section .sizes_list li.selected {
  background-color: #acacac;
}

.products_filters_wrapper .view_products {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #212121;
  color: #fff;
  font-family: "Petrona", serif;
  font-weight: 700;
  transition: all 0.3s ease;
}

.products_filters_wrapper .view_products.loading {
  background-color: #fcfcfc;
  color: #d2d2d2;
  border-top: 1px solid #d2d2d2;
}

@media (min-width: 992px) {
  .products_filters_wrapper .filters_header {
    display: none;
  }

  .filters_section .sizes_list {
    padding-bottom: 25px;
  }
}

@media (max-width: 991.8px) {
  .products_filters_wrapper {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 350px;
    transform: translateX(100%);
    z-index: 999;
  }

  .products_filters_wrapper.is_expanded {
    max-width: 100%;
    border-right: none;
    border-left: 1px solid #bdbdbd;
    transform: translateX(0);
  }

  .products_filters_wrapper .products_filters_inner {
    transform: translateX(0);
    width: 100%;
    padding: 0 20px;
    height: auto;
  }
}

@media (min-width: 767.8px) {
  .products_filters_wrapper .view_products {
    display: none;
  }
}

@media (max-width: 767px) {
  .products_filters_wrapper {
    display: flex;
    flex-direction: column;
  }

  .products_filters_wrapper::-webkit-scrollbar-thumb {
    background-color: rgba(238, 238, 238, 0.5);
  }

  .products_filters_wrapper.is_expanded {
    border: none;
  }

  .products_filters_wrapper .products_filters_inner {
    flex: 1;
  }

  .filters_section h3 {
    font-size: 18px;
    margin-bottom: 14px;
  }

  .filters_section .sizes_list {
    grid-template-columns: repeat(auto-fill, 55px);
  }

  .filters_section .sizes_list li {
    height: 55px;
    line-height: 55px;
  }
}

@media (max-width: 567px) {
  .products_filters_wrapper {
    width: 100%;
  }

  .filters_section .slider_wrapper {
    max-width: 100%;
  }
}
