.payment_form {
  max-width: 500px;
  margin: auto;
}

.payment_form .card_element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}

.payment_form button {
  width: 100%;
  border: none;
  outline: none;
  background-color: #212121;
  padding: 12px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #fff;
  cursor: pointer;
}
