.height_holder {
  height: calc(
    100vh - var(--header-height) - var(--page-header-height) -
      var(--top-slider-height)
  );
  min-height: 600px;
}

.checkout_wrapper {
  display: grid;
  grid-template-columns: 1fr 370px;
  gap: 24px;
  max-width: 1200px;
  margin: auto;
  padding: 24px;
}

.checkout_wrapper h2 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 25px;
}

@media (min-width: 992px) {
  .checkout_wrapper .order_summary h2 {
    margin-bottom: 47px;
  }
}

@media (max-width: 991px) {
  .checkout_wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 767px) {
  .checkout_wrapper {
    padding: 16px;
  }

  .checkout_wrapper h2 {
    font-size: 20px;
    margin-bottom: 14px;
  }
}
