.product_info_wrapper {
  position: relative;
}

.product_info_inner {
  position: sticky;
  top: calc(var(--header-height) + var(--top-slider-height));
  padding: 0 24px;
}

.product_info_inner h2 {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 700;
}

.product_info_inner > span {
  display: block;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-bottom: 8px;
}

.product_info_inner .product_sizes {
  margin-bottom: 20px;
}

.product_info_inner .product_sizes h4 {
  text-transform: uppercase;
  font-size: 15px;
  margin-bottom: 16px;
}

.product_info_inner .product_sizes h4 > span {
  font-weight: 500;
}

.product_info_inner .product_sizes ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 8px;
}

.product_info_inner .product_sizes ul li {
  height: 55px;
  text-align: center;
  line-height: 55px;
  border: 1px solid #e0e0e0;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #fff;
  transition: background 0.3s ease;
}

.product_info_inner .product_sizes ul li.selected {
  background-color: #e3e3e3;
  border: 1px solid #212121;
}

.product_info_inner .button_wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 25px;
}

.product_info_inner .button_wrapper button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  border: none;
  outline: none;
  cursor: pointer;
}

.product_info_inner .button_wrapper .error {
  position: absolute;
  bottom: -22px;
  font-weight: 500;
  color: var(--error-color);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.product_info_inner .product_tabs {
  margin-bottom: 20px;
}

.product_info_inner .product_tabs p {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.product_info_inner .product_tabs ul li {
  position: relative;
  font-size: 14px;
  margin-bottom: 6px;
  padding-left: 14px;
  color: #212121;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.product_info_inner .product_tabs ul li::before {
  content: "-";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 991px) {
  .product_info_inner .product_sizes ul {
    justify-content: space-between;
  }
}

@media (max-width: 1600px) {
  .product_info_inner h2 {
    font-size: 18px;
    font-weight: 700;
  }
}

@media (max-width: 567px) {
  .product_info_inner {
    position: static;
    padding: 0 16px;
  }

  .product_info_inner h2 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .product_info_inner > span {
    margin-bottom: 8px;
    line-height: 1;
  }

  .product_info_inner .product_sizes ul {
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  }
}
