.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--header-height);
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  z-index: 997;
}

.header .header_left {
  display: flex;
  align-items: center;
}

.header .header_left button {
  border: 0;
  padding: 0;
  margin-right: 10px;
  background: none;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header .header_left .logo a {
  display: flex;
  align-items: center;
  width: 148.38px;
}

.header .header_left .logo a svg {
  width: 100%;
}

@media (max-width: 1600px) {
  .header {
    padding: 0 16px;
  }

  .header .header_left .logo a {
    width: 140px;
  }
}

@media (min-width: 992px) {
  .header .header_left button {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .header {
    padding: 0 16px;
    border-bottom: 1px solid #eee;
  }

  .header .header_left .logo a {
    width: 110px;
  }
}
